
//
// VARIABLES
//

// Colors
$blue: #004d80;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Calligrapher, Benguiat BK BT, Freefrm721 Blk BT;
$helveticaNeue: "jaiman 3 font", Calligrapher, Benguiat BK BT, Freefrm721 Blk BT;


// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
